/*Header*/

.header {
  margin-bottom: 100px;
}

.header .home {
  color: white;
  text-decoration: none;
}

.header .home:hover {
  color: white;
  text-decoration: none;
}

/*Functions*/
.functions
a:hover .inner::after {
  display: block;
}

.functions .inner {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.functions .pizza-1 {
  background-image: url(../../images/pizza-1.jpg);
  background-size: cover;
  background-position: center center;
}

.functions .pizza-2 {
  background-image: url(../../images/pizza-2.jpg);
  background-size: cover;
  background-position: center center;
}

.functions .inner h3, h4{
  color: white;
}

.functions .inner h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  transition: all ease-in-out 1s;
  text-transform: uppercase;
  font-family: $font-header;
}

.functions .inner h4 {
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  text-align: center;
}

.functions .inner:hover h3{
  top: 30%;
  transition: all ease-in-out 1s;
}

.functions .pizza-1:hover h4,
.functions .pizza-2:hover h4{
  display: block;
  bottom: 10%;
  transition: all ease-in-out 1s;
}

.functions .row {
  justify-content: space-between;
}

.functions .hours {
  height: 250px;
  background-color: salmon;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
}

.functions .hour-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.functions .hour-inner h3 {
  font-size: 45px;
  transition: all ease-in-out 1s;
  font-family: $font-header;
}
/*Gallery*/
.gallery .gallery-item {
  position: relative;
  padding: 0;
  height: 267px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 267px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery .row {
  display: flex;
  justify-content: space-between;
}

.gallery .image-wrapper::after {
  position: absolute;
  background: black;
  content: ' ';
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  top: 0;
  left: 0;
  padding: 0;
  border-radius: 10px;
}

.gallery .gallery-item-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: none;
  z-index: 10;
  cursor: pointer;
  color: white;
}

.gallery .gallery-item-inner span:hover {
  color: salmon;
}

.gallery .gallery-item:hover .gallery-item-inner {
  display: block;
}

.gallery .gallery-item:hover .image-wrapper::after {
  display: block;
}

.gallery a {
  text-decoration: underline;
  color: salmon;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Carousel*/
.carousel {
  margin: 100px 0;
}

.carousel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel .image-wrapper {
  padding: 0;
  width: 365px;
  height: 243px;
}

.carousel .carousel-text h5 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 30px auto;
  font-weight: bold;
}

.carousel .carousel-text h6 {
  font-size: 14px;
}

.carousel .author {
  display: block;
  font-style: italic;
}

.carousel .slide{
  display: none;
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.carousel-indicator {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: $color-dark;
  display: inline-block;
  margin: 30px 15px;
  opacity: 50%;
  cursor: pointer;
}

.carousel-indicator.current-slide{
  opacity: 100%;
}

.carousel .placed-slide {
  display: flex;
  opacity: 0%;
}

.carousel .animated-slide {
  animation: appear 3s linear 1;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  5% {
    opacity: 100%;
  }

  95% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }

}

@media (max-width:1200px) {
  .functions .inner h3,
  .functions .hour-inner h3 {
    font-size: 30px;
  }
}
